# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
*.env

# Django / database
*.sqlite3
db.sqlite3
*.log

# Django migrations (optional: comment out if you want to track them)
**/migrations/
!**/migrations/__init__.py

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/
